@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "poppins-light";
  src: url("/fonts/Quicksand.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Telma-Medium";
  src:
    url("/fonts/Telma-Medium.woff2") format("woff2"),
    url("/fonts/Telma-Medium.woff") format("woff"),
    url("/fonts/Telma-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Telma-Bold";
  src:
    url("/fonts/Telma-Bold.woff2") format("woff2"),
    url("/fonts/Telma-Bold.woff") format("woff"),
    url("/fonts/Telma-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 50s linear infinite;
}

/* Pause animasi saat user menempelkan kursor (hover) */
/* .animate-marquee:hover {
  animation-play-state: paused;
} */
